

<link rel="stylesheet" href="./src/styles/upbar.css">

<div id="upbar">
    <div id="logo">
        <div id="ensino">ENSINO</div>
        <div id="tutoria">tutoria</div>
    </div>
    <label for="bt_menu" onclick="open_menu()">&#9776;</label>
    <ul class="navbar menuresponsiveclosed" id="navbar">
        <li><a class="navbtm" id="inicio" href="/">Início</a></li>
        <li><a class="navbtm" id="sobre" href="/sobre">Sobre</a></li>
        <li><a class="navbtm" id="cursos" href="/cursos">Cursos</a></li>
        <li><a class="navbtm" id="contato" href="/contato">Contato</a></li>

        <ul class="navbar navbararea">
            <li><a class="btmarea" href="/pais">ESPAÇO PAIS</a></li>
            <li><a class="btmarea" href="/professor">PROFESSOR</a></li>
        </ul>

    </ul>
</div>

<script>
    function open_menu(){
        var navbar_class = document.getElementById("navbar").className;
        if(navbar_class =="navbar menuresponsiveclosed"){
            document.getElementById("navbar").className = "navbar menuresponsiveopen"
        }else{
            document.getElementById("navbar").className = "navbar menuresponsiveclosed"
        }
    }
</script>