

<link rel="stylesheet" href="./src/styles/upbar.css">

<div id="upbar">
    <div id="logo">
        <div id="ensino">ENSINO</div>
        <div id="tutoria">tutoria</div>
    </div>
    <ul class="navbar">
        <li><a class="navbtm" id="inicio" href="/">Início</a></li>
        <li><a class="navbtm" id="sobre" href="/sobre">Sobre</a></li>
        <li><a class="navbtm" id="cursos" href="/cursos">Cursos</a></li>
        <li><a class="navbtm" id="contato" href="/contato">Contato</a></li>

        <ul class="navbar navbararea">
            <li><a class="btmarea" href="/pais">ESPAÇO PAIS</a></li>
            <li><a class="btmarea" href="/professor">PROFESSOR</a></li>
        </ul>

    </ul>
</div>