<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./src/styles/style.css">
    <title>Ensino Tutoria - Contato</title>
</head>
<body>
    <%- include('./partials/upbar.ejs')  %> 

    <div class="content">
        <div class="titlemaincontent">CONTATO</div>
            <div class="maincontent">
                <div class="maincontentcontato">
                    <div class="info">
                        <div class="tel">
                            <img class="icon" src="src/images/icon-tel.png"> 
                            <p>(11) 99999-9999</p>
                        </div>

                        <div class="endereco">
                            <p>Rua Josué Batista, 1534</p>
                            <p>Conjunto Santa Helena - São Paulo - SP</p>
                            <br>
                            <p class="horario">Aberto de Segunda a Sábado</p>
                            <p class="horario">das 8h às 19h</p>
                        </div>
                        
                    </div>
                    <form class="formulariocontato">
                        <h2>Formulário de Contato</h2>
                        <p>Nome</p>
                        <input id="formnome" type="text" placeholder="Nome"></input>
                        <p>E-mail para contato</p>
                        <input id="formemail" type="email" placeholder="E-mail"></input>
                        <p>Assunto</p>
                        <input id="formassunto" type="text" placeholder="assunto"></input>
                        <p>Mensagem</p>
                        <textarea id="formmensagem" placeholder="Mensagem"></textarea>
                    </form>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')  %> 

    
</body>
</html>