<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./src/styles/style.css">
    <title>Ensino Tutoria - Página Inicial</title>
</head>
<body>
    <%- include('./partials/upbar.ejs')  %> 

    <div class="content">
        <div class="titlemaincontent">SOBRE</div>
        <div class="maincontent">

        </div>
    </div>

    <%- include('./partials/footer.ejs')  %> 

    
</body>
</html>