<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./src/styles/style.css" type="text/css">
    <title>Ensino Tutoria - Pais</title>
</head>
<body>
    <%- include('./partials/upbar.ejs')  %> 

    <div class="content">
        <div class="titlemaincontent">ÁREA DOS PAIS</div>
        <div class="maincontent">
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum illo voluptatem quo cupiditate, illum pariatur ullam tempora dignissimos eligendi. Eos laudantium dolore recusandae maiores tenetur, modi voluptates error similique excepturi?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam blanditiis soluta inventore et ducimus quae aut est. Distinctio, eos! Velit adipisci enim repellat quasi at temporibus magnam nobis recusandae eum.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt quos quibusdam consequatur, eligendi non praesentium excepturi? Nisi impedit quia accusantium! Accusantium totam expedita corporis soluta cum impedit atque eius ullam.</p>
        </div>
    </div>

    <%- include('./partials/footer.ejs')  %> 

    
</body>
</html>