<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./src/styles/style.css" type="text/css">
    <title>Ensino Tutoria - Professor</title>
</head>
<body>
    <%- include('./partials/upbar.ejs')  %> 

    <div class="content">
        <div class="titlemaincontent">ÁREA DO PROFESSOR</div>
        <div class="maincontent areadelogin">
            
            <p>Espaço de acesso restrito para professores da rede Ensino.</p>

            <form>
                <h2>LOGIN</h2>
                <input type="text" id="login-professor" placeholder="LOGIN">
                <input type="password" id="password-professor" placeholder="SENHA">
                <button id="submit" onclick="submit()">ENVIAR</button>
            </form>
            
        </div>
    </div>

    <%- include('./partials/footer.ejs')  %> 

    
</body>
</html>